In [8]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from tqdm import tqdm_notebook as tqdm
from datetime import datetime
import gc

In [35]:
df = pd.read_csv("household_power_consumption.txt",sep=';',low_memory=False,na_values='?')
print(df.head())
print("*"*50)
print(df.dtypes)

         Date      Time  Global_active_power  Global_reactive_power  Voltage  \
0  16/12/2006  17:24:00                4.216                  0.418   234.84
1  16/12/2006  17:25:00                5.360                  0.436   233.63
2  16/12/2006  17:26:00                5.374                  0.498   233.29
3  16/12/2006  17:27:00                5.388                  0.502   233.74
4  16/12/2006  17:28:00                3.666                  0.528   235.68

   Global_intensity  Sub_metering_1  Sub_metering_2  Sub_metering_3
0              18.4             0.0             1.0            17.0
1              23.0             0.0             1.0            16.0
2              23.0             0.0             2.0            17.0
3              23.0             0.0             1.0            17.0
4              15.8             0.0             1.0            17.0
**************************************************
Date                      object
Time                      object
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtype: object

In [36]:
df.isnull().sum()

Date                         0
Time                         0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [7]:
df['Datetime'] = df.apply(lambda x: datetime.strptime(x['Date']+' '+x['Time'],"%d/%m/%Y %H:%M:%S"),axis=1)

In [9]:
gc.collect()

7185

In [10]:
df.dtypes

Date                             object
Time                             object
Global_active_power              object
Global_reactive_power            object
Voltage                          object
Global_intensity                 object
Sub_metering_1                   object
Sub_metering_2                   object
Sub_metering_3                  float64
Datetime                 datetime64[ns]
dtype: object

In [13]:
df.dtypes['Date']==np.dtype('O')

True

In [25]:
remove_cols = ['Date','Time']
data_types = df.dtypes
convert_cols = [k for k,v in data_types.items() if not ('Date' in k or 'Time' in k)]

In [29]:
df.drop(remove_cols,inplace=True,axis=1)

In [33]:
def change_data_type(df,col):
    print(col)
    df[col] = pd.to_numeric(df[col])

In [34]:
for col in convert_cols:
    change_data_type(df,col)

Global_active_power

ValueError: Unable to parse string "?" at position 6839

In [26]:
convert_cols

['Global_active_power',
 'Global_reactive_power',
 'Voltage',
 'Global_intensity',
 'Sub_metering_1',
 'Sub_metering_2',
 'Sub_metering_3']

In [19]:
for k,v in data_types.items():
    print(k,v)

Date object
Time object
Global_active_power object
Global_reactive_power object
Voltage object
Global_intensity object
Sub_metering_1 object
Sub_metering_2 object
Sub_metering_3 float64
Datetime datetime64[ns]